.nav .centerbox{
	background: url(../img/bjdh.jpg) no-repeat;
	background-size: 100% 100%;
	height: 380px;
}
.actlist{ 
	width: 100%;
	height: 100%; 
	background-color: rgba(255,255,255,.8);
	display: flex;
	justify-content: space-around;
}
.actlist>li{
	width: 48%;
	height: 100%;
	box-sizing: border-box;
}
.actlist>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
.actlist>li>a>h3{
	text-align: center;
	color: #2f2f2f;
	margin: 20px 0;
}
.actlist>li>a>img{
	display: block;
	width: 100%;
	height: 200px;
}
.actlist>li>a>p{
	font-size: 15px;
	color: #3C3C3C;
	font-weight: bold;
	padding: 10px 8px;
}
/*移动*/
@media screen and (max-width:750px) {
	.nav .centerbox{
		height: 650px;
	}
	.actlist{
		flex-wrap: wrap;
	}
	.actlist>li{
		width: 100%;
		height: 320px;
	}
}